{% extends 'homebase.html.twig' %}

{% block title %} Contact | {{setting[0].title}}{% endblock %}
{% block keywords %}{{ setting[0].keywords }}{% endblock %}
{% block description %}{{ setting[0].description }}{% endblock %}

{% block body %}
    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Contact</h2>
                <span class="underline center"></span>
                <p class="lead">You can reach us anytime.</p>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <!-- Start: Contact Us Section -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="contact-main">
                    <div class="contact-us">
                        <div class="container">
                            <div class="contact-location">
                                {{ setting[0].contact | raw}}
                                <div class="clearfix"></div>
                            </div>
                            <div class="row">
                                <div class="contact-area">
                                    <div class="container">
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="contact-form bg-light margin-right">
                                                        <h2>Send us a message</h2>
                                                        <span class="underline left"></span>
                                                        <div class="contact-fields">
                                                            {{  include('messages.html.twig') }}
                                                            <form name="messages" method="post" >
                                                                <div class="row">
                                                                    <div class="col-md-7 col-sm-7">
                                                                        <div class="form-group">
                                                                            <input class="form-control" type="text" placeholder="First Name" id="messages_name" name="messages[name]" size="30" value="" aria-required="true" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-7 col-sm-7">
                                                                        <div class="form-group">
                                                                            <input class="form-control" type="text" placeholder="Subject" id="messages_subject" name="messages[subject]" maxlength="70" value="" aria-required="true" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-7 col-sm-7">
                                                                        <div class="form-group">
                                                                            <input class="form-control" type="text" placeholder="Email" id="messages_email" name="messages[email]" size="50" value="" aria-required="true" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <textarea class="form-control" placeholder="Your message" id="messages_message" name="messages[message]" maxlength="255" aria-required="true"></textarea>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group form-submit">
                                                                            <input type="hidden" name="token" value="{{ csrf_token('form-message') }}"/>
                                                                            <button class="btn btn-orange">Send Message</button>
                                                                        </div>
                                                                    </div>
                                                                    <div id="success">
                                                                        <span>Your message was sent successfully! Our team will contact you soon.</span>
                                                                    </div>

                                                                    <div id="error">
                                                                        <span>Something went wrong, try refreshing and submitting the form again.</span>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- End: Contact Us Section -->

{% endblock %}
