<!-- Start: Header Section -->
<header id="header-v1" class="navbar-wrapper">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-header">
                            <div class="navbar-brand">
                                <h1>
                                    <a href="{{ path('home') }}">
                                        <img src="{{ asset('assets')}}/images/libraria-logo-v1.png" alt="LIBRARIA" />
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!-- Header Topbar -->
                        <div class="header-topbar hidden-sm hidden-xs">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="topbar-info">
                                        <a href="tel:+61-3-8376-6284"><i class="fa fa-phone"></i>+90 555 555 5555</a>
                                        <span>/</span>
                                        <a href="mailto:info@bestonlinelibrary.com"><i class="fa fa-envelope"></i>info@bestonlinelibrary.com</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="topbar-links">
                                        {% if app.user %}
                                            <a href="/user"><img style="vertical-align: center; margin-outside: -5px" src="{{ asset('uploads/images/' ~ app.user.image) }}" class="img-circle" width="30px">  {{ app.user.name }}</a>
                                            <span>|</span>
                                            <a href="/logout">Logout</a>
                                        {% else %}
                                            <a href="/loginuser"><i class="fa fa-lock"></i>Login | Register</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="navbar-collapse hidden-sm hidden-xs">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="{{ path('home')}}">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="{{ path('home_allbooks') }}">Books</a>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="news-events-list-view.html">XXXXX</a>

                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/about">About us</a>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="blog.html">XXXXX</a>
                                </li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu hidden-lg hidden-md">
                    <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                    <div id="mobile-menu">
                        <ul>
                            <li class="mobile-title">
                                <h4>Navigation</h4>
                                <a href="#" class="close"></a>
                            </li>
                            <li>
                                <a href="{{ path('home')}}">Home</a>
                            </li>
                            <li>
                                <a href="{{ path('home_allbooks') }}">Books</a>
                            </li>
                            <li>
                                <a href="#">XXXXX</a>
                            </li>
                            <li>
                                <a href="/about">About Us</a>
                            </li>
                            <li>
                                <a href="#">XXXXX</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- End: Header Section -->