<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets')}}/admin/assets/images/favicon.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/owl.theme.css">
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/normalize.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/calendar/fullcalendar.print.min.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/form/all-type-forms.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('assets')}}/admin/login/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="{{ asset('assets')}}/admin/login/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="error-pagewrap">
    <div class="error-page-int">
        <div class="text-center custom-login">
            <h3>Registration</h3>
            <p>This is the best app ever!</p>
        </div>
        <div class="content-error">
            <div class="hpanel">
                <div class="panel-body">


    <h1>Register</h1>

    {{ form_start(registrationForm) }}
                    {{ form_widget(registrationForm) }}
                    <button class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}


                </div>
            </div>
        </div>
        <div class="text-center login-footer">
            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
        </div>
    </div>
</div>
<!-- jquery
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/jquery.scrollUp.min.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ asset('assets')}}/admin/login/js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/metisMenu/metisMenu.min.js"></script>
<script src="{{ asset('assets')}}/admin/login/js/metisMenu/metisMenu-active.js"></script>
<!-- tab JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/tab.js"></script>
<!-- icheck JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/icheck/icheck.min.js"></script>
<script src="{{ asset('assets')}}/admin/login/js/icheck/icheck-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="{{ asset('assets')}}/admin/login/js/main.js"></script>
</body>

</html>