{% extends 'base.html.twig' %}

{% block title %}OnShelfBook index{% endblock %}

{% block body %}
    <h1>OnShelfBook index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Bookid</th>
                <th>Description</th>
                <th>Image</th>
                <th>Status</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for onshelfbook in onshelfbooks %}
            <tr>
                <td>{{ onshelfbook.id }}</td>
                <td>{{ onshelfbook.title }}</td>
                <td>{{ onshelfbook.bookid }}</td>
                <td>{{ onshelfbook.description }}</td>
                <td>{{ onshelfbook.image }}</td>
                <td>{{ onshelfbook.status }}</td>
                <td>{{ onshelfbook.number }}</td>
                <td>
                    <a href="{{ path('admin_onshelfbook_show', {'id': onshelfbook.id}) }}">show</a>
                    <a href="{{ path('admin_onshelfbook_edit', {'id': onshelfbook.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_onshelfbook_new') }}">Create new</a>
{% endblock %}
