{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }}'s Books{% endblock %}

{% block body %}

    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowURL, windowName, windowFeatures) {
            window.open(windowURL, windowName, windowFeatures);
        }
    </SCRIPT>

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>User Books Listing</h2>
                <span class="underline center"></span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li>User Books</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <div style="width: 800px; height: 300px"></div>

    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-media-list">
                    <div class="container">

                        {{ include('user/usermenu.html.twig') }}

                        <div class="row" style=" margin: -265px 0 0 250px; float: left">

                            <div class="booksmedia-detail-box">
                                <br>
                                <a href="{{ path('user_book_new') }}" class="btn btn-success" style="color: white">Add New Book</a></div>
                            <h2 class="page-title">Book List</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Keywords</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">Page</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Gallery</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in books %}
                                    <tr>
                                        <td>{{ book.id }}</td>
                                        <td nowrap>{{ book.title }}</td>
                                        <td>{{ book.keywords }}</td>
                                        <td>{{ book.description }}</td>
                                        <td><img src="{{ asset('uploads/images/' ~ book.image) }}" style="height: 60px"></td>
                                        <td>{{ book.author }}</td>
                                        <td>{{ book.year ? book.year|date('Y-m-d') : '' }}</td>
                                        <td>{{ book.page }}</td>
                                        <td>{{ book.status }}</td>
                                        <td>
                                            <a href="javascript:openWin('{{ path('user_image_new', {'id': book.id}) }}','','toolbar=no, location=no, directories=0, status=no, top=50, left=100, menuBar=no, scrollBars=yes, resizable=no, width=900, height=600');">
                                                <img src="{{ asset('assets/admin/img') }}/gallery.png" style="height: 60px">
                                            </a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn-block"> <a href="{{ path('user_book_show', {'id': book.id}) }}" style="color: white">Show</a> </button>
                                            <button type="button" class="btn-block"> <a href="{{ path('user_book_edit', {'id': book.id}) }}" style="color: white">Edit</a> </button>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="13">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
