{% extends 'homebase.html.twig' %}

{% block title %}Add {{ app.user.name }} New Book{% endblock %}

{% block body %}

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>User Comments List</h2>
                <span class="underline center"></span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li>User Comments</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <div style="width: 800px; height: 300px"></div>

    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-media-list">
                    <div class="container">

                        {{ include('user/usermenu.html.twig') }}

                        <div class="row" style=" margin: -265px 0 0 250px; float: left">

                            <div class="booksmedia-detail-box">


                                <br>

                                <div class="booksmedia-fullwidth" style="width: 500px">
                                    {{ include('/book/_form.html.twig') }}
                                </div>
                                <a href="{{ path('user_book_index') }}" style="color: white ;float: right; margin-top: -44px; height: 46px; text-align: center" class="btn btn-info">Back to List</a>


                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
