{% extends 'homebase.html.twig' %}

{% block title %}Show {{ app.user.name }}'s Book Details{% endblock %}

{% block body %}

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>User Book Details</h2>
                <span class="underline center"></span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li>Book Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <div style="width: 800px; height: 300px"></div>

    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-media-list">
                    <div class="container">

                        {{ include('user/usermenu.html.twig') }}

                        <div class="row" style=" margin: -265px 0 0 250px; float: left">

                            <div class="booksmedia-detail-box">


                                <br>
                                <h4>Book Details</h4><br>
                                <div class="booksmedia-fullwidth" style="width: 500px">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ book.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Title</th>
                                            <td>{{ book.title }}</td>
                                        </tr>
                                        <tr>
                                            <th>Keywords</th>
                                            <td>{{ book.keywords }}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td>{{ book.description }}</td>
                                        </tr>
                                        <tr>
                                            <th>Image</th>
                                            <td><img src="{{ asset('uploads/images/' ~ book.image) }}" height="70"></td>
                                        </tr>
                                        <tr>
                                            <th>Author</th>
                                            <td>{{ book.author }}</td>
                                        </tr>
                                        <tr>
                                            <th>Publisher</th>
                                            <td>{{ book.publisher }}</td>
                                        </tr>
                                        <tr>
                                            <th>Year</th>
                                            <td>{{ book.year ? book.year|date('Y-m-d') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Page</th>
                                            <td>{{ book.page }}</td>
                                        </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>{{ book.status }}</td>
                                        </tr>
                                        <tr>
                                            <th>Created_at</th>
                                            <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Updated_at</th>
                                            <td>{{ book.updatedAt ? book.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="btn-block" >
                                <a href="{{ path('user_book_edit', {'id': book.id}) }}" class="btn btn-success" style="color: white">Edit</a>

                                {{ include('book/_delete_form.html.twig') }}
                                </div>

                                <a href="{{ path('user_book_index') }}" style="margin-top: -45px; float: right; color: white" class="btn btn-info">Back to List</a>


                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
