{% extends 'adminbase.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowURL, windowName, windowFeatures) {
            window.open(windowURL, windowName, windowFeatures);
        }
    </SCRIPT>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <a href="{{ path('admin_book_new') }}" class="btn btn-block btn-success col-md-4">Create New Book</a>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex align-items-center justify-content-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/admin">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Books</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <h2 class="page-title">Book List</h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Keywords</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Author</th>
                                            <th scope="col">Year</th>
                                            <th scope="col">Page</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Gallery</th>
                                            <th scope="col">Books</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for book in books %}
                                        <tr>
                                            <td>{{ book.id }}</td>
                                            <td>{{ book.catname }}</td>
                                            <td>{{ book.title }}</td>
                                            <td>{{ book.keywords }}</td>
                                            <td>{{ book.description }}</td>
                                            <td><img src="{{ asset('uploads/images/' ~ book.image) }}" height="40"></td>
                                            <td>{{ book.author }}</td>
                                            <td>{{ book.year ? book.year|date('Y-m-d') : '' }}</td>
                                            <td>{{ book.page }}</td>
                                            <td><a href="{{ path('admin_user_show', {'id': book.userid}) }}">{{ book.name }} {{ book.surname }}</a></td>
                                            <td>{{ book.status }}</td>
                                            <td>
                                                <a href="javascript:openWin('{{ path('admin_image_new', {'id': book.id}) }}','','toolbar=no, location=no, directories=0, status=no, top=50, left=100, menuBar=no, scrollBars=yes, resizable=no, width=900, height=600');">
                                                    <img src="{{ asset('assets/admin/img') }}/gallery.png" height="40">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:openWin('{{ path('admin_onshelfbook_new', {'id': book.id}) }}','','toolbar=no, location=no, directories=0, status=no, top=50, left=100, menuBar=no, scrollBars=yes, resizable=no, width=900, height=600');">
                                                    <img src="{{ asset('assets/admin/img') }}/images.png" height="40">
                                                </a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn-block btn-warning"> <a href="{{ path('admin_book_show', {'id': book.id}) }}">Show</a> </button>
                                                <button type="button" class="btn-block btn-warning"> <a href="{{ path('admin_book_edit', {'id': book.id}) }}">Edit</a> </button>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="13">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
{% endblock %}
