{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }}'s Reservations{% endblock %}

{% block body %}

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>User Reservations Listing</h2>
                <span class="underline center"></span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="{{path('home')}}">Home</a></li>
                    <li>User Reservations</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <div style="width: 800px; height: 300px"></div>

    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-media-list">
                    <div class="container">

                        {{ include('user/usermenu.html.twig') }}

                        <div class="row" style=" margin: -265px 0 0 300px; float: left">

                            <div class="booksmedia-detail-box">

                                <br>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Book</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Checkin</th>
                                        <th>Checkout</th>
                                        <th>Days</th>
                                        <th>Message</th>
                                        <th>Note</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for reservation in reservations %}
                                        <tr>
                                            <td><a href="{{ path("book_show", {"id": reservation.bookid}) }}">{{ reservation.oname }}</a></td>
                                            <td>{{ reservation.name }}</td>
                                            <td>{{ reservation.surname }}</td>
                                            <td>{{ reservation.checkin | date("m-d-Y") }}</td>
                                            <td>{{ reservation.checkout | date("m-d-Y") }}</td>
                                            <td>{{ reservation.days }}</td>
                                            <td>{{ reservation.message }}</td>
                                            <td>{{ reservation.note }}</td>
                                            <td>{{ reservation.status }}</td>
                                            <td>{{ reservation.created_at }}</td>
                                            <td>
                                                <button class="btn"><a href="{{ path('user_reservation_show', {'id': reservation.id}) }}" style="color: white">Show</a></button>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="16">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
